<!DOCTYPE html>
<html>
    <%- include('head'); -%>
    <body>
        <%- include('header'); -%>
        <main>
            <h1><%= title %></h1>
            <div class="intro">
                <p>
                    Welcome to the exclusive Members Only site<% if
                    (currentUser) { %>, <%= currentUser.firstName %><% } %>!
                </p>
                <p>
                    You can see messages left by users here on the home page. If
                    you are a member, you'll be able to see who posted these
                    messages!
                </p>
                <% if (currentUser && currentUser.isMember) { %>
                <p>You're in the club!</p>
                <% } else if (currentUser) { %>
                <p>
                    Click <a href="/join-club">become a member</a> to join the
                    club!
                </p>
                <% } %>
            </div>

            <% messages.forEach(message => { %>
            <article class="message">
                <header>
                    <div>
                        <h2><%= message.title %></h2>
                        <% if (currentUser && currentUser.isMember) { %>
                        <p class="byline">
                            by <%= `${message.author.firstName}
                            ${message.author.lastName} •` %>
                            <span class="username">
                                <%= `@${message.author.username}` %>
                            </span>
                        </p>
                        <% } %>
                    </div>
                    <% if (currentUser && currentUser.isMember) { %>
                    <p class="timestamp"><%= message.formattedTimestamp %></p>
                    <% } %>
                </header>
                <p class="message-text"><%- message.text %></p>
                <% if (currentUser && currentUser.isAdmin) { %>
                <form action="" method="POST">
                    <input
                        type="hidden"
                        name="messageId"
                        id="messageId"
                        required
                        value="<%= message.id %>"
                    />
                    <button class="delete-btn">
                        <i class="material-icons">delete</i>
                        <p>Delete</p>
                    </button>
                </form>
                <% } %>
            </article>
            <% }) %>
        </main>
    </body>
</html>
