<!DOCTYPE html>
<html>
    <%- include('head'); -%>
    <body>
        <%- include('header'); -%>
        <main>
            <h1><%= title %></h1>
            <p>
                Welcome to <%= title %><% if (currentUser) { %>, <%=
                currentUser.username %> <% } %>
            </p>

            <% messages.forEach(message => { %>
            <article class="message">
                <header>
                    <div>
                        <h2><%= message.title %></h2>
                        <% if (currentUser && currentUser.isMember) { %>
                        <p class="byline">by <%= message.author.username %></p>
                        <% } %>
                    </div>
                    <% if (currentUser && currentUser.isMember) { %>
                    <p class="timestamp"><%= message.formattedTimestamp %></p>
                    <% } %>
                </header>
                <p class="message-text"><%- message.text %></p>
                <% if (currentUser && currentUser.isAdmin) { %>
                <form action="" method="POST">
                    <input
                        type="hidden"
                        name="messageId"
                        id="messageId"
                        required
                        value="<%= message.id %>"
                    />
                    <button class="delete-btn">
                        <i class="material-icons">delete</i>
                        <p>Delete</p>
                    </button>
                </form>
                <% } %>
            </article>
            <% }) %>
        </main>
    </body>
</html>
