<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/reset.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <%- include('header'); -%>
        <main>
            <h1><%= title %></h1>
            <p>
                Welcome to <%= title %><% if (currentUser) { %>, <%=
                currentUser.username %> <% } %>
            </p>

            <% messages.forEach(message => { %>
            <article class="message">
                <h2><%= message.title %></h2>
                <% if (currentUser && currentUser.isMember) { %>
                <p class="byline">
                    By <%= message.author.username %> at <%= message.timestamp
                    %>
                </p>
                <% } %>
                <p class="message-text"><%= message.text %></p>
            </article>
            <% }) %>
        </main>
    </body>
</html>
